<h1> <%= @cat.name %></h1>

<table>
  <tr>
    <th>Color</th>
    <th>Age (years)</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.color %> </td>
    <td><%= @cat.age %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>
